n8n-workflow.json
{
  "name": "Zentia 음성 길찾기 (Kakao + LLM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "map-search",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [120, 300],
      "webhookId": "map-search"
    },
    {
      "parameters": {
        "jsCode": "// === 입력 정규화 & 컨텍스트 ===\nconst body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  text: (body.text || '').trim(),\n  userLat: parseFloat(body.lat) || 37.5665,\n  userLng: parseFloat(body.lng) || 126.9780,\n  landmark: (body.landmark || '').trim(),\n  userTransportMode: body.transportMode || 'transit',\n  categoryGroupCode: (body.categoryGroupCode || '').trim(),\n  inputType: (body.inputType || 'text').trim(),\n  userChipRadius: parseInt(body.chipRadius) || 5000,\n  lang: (body.lang || 'ko').trim(),\n  favorites: Array.isArray(body.favorites) ? body.favorites : [],\n  recentSearches: Array.isArray(body.recentSearches) ? body.recentSearches : [],\n  localTime: body.localTime || new Date().toISOString(),\n  userId: body.userId || 'anonymous',\n  skipLLM: (body.inputType || '') === 'chip',\n}}];"
      },
      "id": "prepare-context",
      "name": "컨텍스트 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "skip-llm-check",
              "leftValue": "={{ $json.skipLLM }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip-llm",
      "name": "칩? (LLM 스킵)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "// ========================================================================\n// LLM 호출 모듈 — 의도 분석\n// ========================================================================\n// ▼▼▼ 이 한 줄만 바꾸면 provider 전환 ('gemini' | 'claude') ▼▼▼\nconst LLM_PROVIDER = 'gemini';\n\nconst KEYS = {\n  gemini: 'YOUR_GEMINI_API_KEY',\n  claude: 'YOUR_ANTHROPIC_API_KEY',\n};\nconst MODELS = {\n  gemini: 'gemini-2.5-flash',\n  claude: 'claude-haiku-4-5-20251001',\n};\n// ========================================================================\n\nconst ctx = $input.first().json;\n\nconst toolSchema = {\n  name: 'resolve_intent',\n  description: '사용자 발화에서 검색 의도를 추출합니다.',\n  parameters: {\n    type: 'object',\n    properties: {\n      intent: { type: 'string', enum: ['search', 'navigate_favorite', 'ambiguous'] },\n      query: { type: 'string', description: \"카카오 키워드 검색에 쓸 정제된 쿼리. 예: '강남 카페'\" },\n      categoryGroupCode: { type: 'string', enum: ['', 'FD6', 'CE7', 'CS2', 'PM9', 'SW8', 'PK6', 'BK9', 'OL7', 'HP8', 'MT1'], description: 'FD6=음식점, CE7=카페, CS2=편의점, PM9=약국, SW8=지하철역, PK6=주차장, BK9=은행, OL7=주유소, HP8=병원, MT1=마트' },\n      transportMode: { type: 'string', enum: ['transit', 'car'] },\n      originHint: { type: 'string', description: \"검색 중심 위치. '현재위치' 또는 즐겨찾기 별칭(집, 회사 등)\" },\n      destinationFavoriteName: { type: 'string', description: '즐겨찾기로 바로 길찾기인 경우 그 이름' },\n      filters: { type: 'array', items: { type: 'string' }, description: \"분위기/조건 키워드. 예: ['아이동반','데이트','조용한']\" },\n      spoken: { type: 'string', description: 'TTS로 읽어줄 한 줄 응답. lang에 맞춰서' },\n      clarification: { type: 'string', description: '의도 모호 시 되물을 짧은 질문. 명확하면 빈 문자열' },\n    },\n    required: ['intent', 'query', 'transportMode', 'originHint', 'filters', 'spoken', 'clarification'],\n  },\n};\n\nconst systemPrompt = `당신은 한국 길찾기 앱의 의도 분석 어시스턴트입니다. 사용자의 자연어 발화에서 카카오 로컬 검색에 쓸 쿼리/카테고리/필터를 추출하세요. 한국 주요 지역명을 이해합니다. 즐겨찾기 별칭(집, 회사 등)이 발화에 등장하면 originHint에 그 별칭을 넣으세요. '집 근처 애들 갈 데' 같은 발화는 categoryGroupCode='FD6', filters=['아이동반','키즈존'], query='키즈존 패밀리 레스토랑'처럼 처리하세요. '데이트하기 좋은' 같은 분위기 발화는 categoryGroupCode='CE7' 또는 'FD6', filters=['분위기','데이트']로. 응답 언어는 lang 필드(ko/en)에 맞추세요. 모호하면 clarification에 짧은 질문을 넣고 intent='ambiguous'.`;\n\nconst userMessage = [\n  `# 사용자 발화\\n\"${ctx.text}\"`,\n  `# 컨텍스트\\n- 위치: (${ctx.userLat}, ${ctx.userLng})${ctx.landmark ? ', ' + ctx.landmark + ' 근처' : ''}\\n- 이동수단 기본: ${ctx.userTransportMode}\\n- 입력 방식: ${ctx.inputType}\\n- 언어: ${ctx.lang}\\n- 현지 시간: ${ctx.localTime}`,\n  `# 즐겨찾기\\n${JSON.stringify(ctx.favorites)}`,\n  `# 최근 검색\\n${JSON.stringify(ctx.recentSearches)}`,\n].join('\\n\\n');\n\nlet endpoint, headers, body;\n\nif (LLM_PROVIDER === 'gemini') {\n  endpoint = `https://generativelanguage.googleapis.com/v1beta/models/${MODELS.gemini}:generateContent?key=${KEYS.gemini}`;\n  headers = { 'Content-Type': 'application/json' };\n  body = {\n    system_instruction: { parts: [{ text: systemPrompt }] },\n    contents: [{ role: 'user', parts: [{ text: userMessage }] }],\n    tools: [{ function_declarations: [toolSchema] }],\n    tool_config: { function_calling_config: { mode: 'ANY', allowed_function_names: ['resolve_intent'] } },\n    generationConfig: { maxOutputTokens: 800, temperature: 0.3 },\n  };\n} else if (LLM_PROVIDER === 'claude') {\n  endpoint = 'https://api.anthropic.com/v1/messages';\n  headers = { 'x-api-key': KEYS.claude, 'anthropic-version': '2023-06-01', 'Content-Type': 'application/json' };\n  body = {\n    model: MODELS.claude,\n    max_tokens: 800,\n    system: systemPrompt,\n    tools: [{ name: toolSchema.name, description: toolSchema.description, input_schema: toolSchema.parameters }],\n    tool_choice: { type: 'tool', name: 'resolve_intent' },\n    messages: [{ role: 'user', content: userMessage }],\n  };\n}\n\nlet llmResponse;\ntry {\n  llmResponse = await this.helpers.httpRequest({\n    method: 'POST', url: endpoint, headers, body, json: true,\n  });\n} catch (err) {\n  // LLM 실패 → fallback: 원문을 그대로 쿼리로\n  return [{ json: Object.assign({}, ctx, {\n    _intent: { intent: 'search', query: ctx.text, categoryGroupCode: ctx.categoryGroupCode || '', transportMode: ctx.userTransportMode, originHint: '현재위치', destinationFavoriteName: '', filters: [], spoken: '', clarification: '' },\n    _llmError: String(err && err.message || err),\n  })}];\n}\n\n// === provider별 응답 파싱 ===\nlet intent = { intent: 'search', query: ctx.text, categoryGroupCode: '', transportMode: ctx.userTransportMode, originHint: '현재위치', destinationFavoriteName: '', filters: [], spoken: '', clarification: '' };\ntry {\n  if (LLM_PROVIDER === 'gemini') {\n    const part = llmResponse.candidates[0].content.parts.find(p => p.functionCall);\n    if (part && part.functionCall && part.functionCall.args) intent = Object.assign(intent, part.functionCall.args);\n  } else if (LLM_PROVIDER === 'claude') {\n    const block = (llmResponse.content || []).find(b => b.type === 'tool_use');\n    if (block && block.input) intent = Object.assign(intent, block.input);\n  }\n} catch (e) {}\n\nreturn [{ json: Object.assign({}, ctx, { _intent: intent }) }];"
      },
      "id": "llm-intent",
      "name": "LLM 의도분석",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "jsCode": "// === 의도 처리 + 카카오 URL 빌드 ===\nconst ctx = $input.first().json;\nconst intent = ctx._intent;\n\n// originHint가 즐겨찾기면 그 좌표를 검색 중심으로\nlet searchLat = ctx.userLat;\nlet searchLng = ctx.userLng;\nif (intent.originHint && intent.originHint !== '현재위치') {\n  const match = (ctx.favorites || []).find(f => f.alias === intent.originHint || f.name === intent.originHint);\n  if (match) { searchLat = match.lat; searchLng = match.lng; }\n}\n\n// navigate_favorite: 검색 건너뛰고 바로 응답\nif (intent.intent === 'navigate_favorite' && intent.destinationFavoriteName) {\n  const dest = (ctx.favorites || []).find(f => f.alias === intent.destinationFavoriteName || f.name === intent.destinationFavoriteName);\n  if (dest) {\n    return [{ json: { _final: true, _payload: {\n      candidates: [{ index: 1, name: dest.name, address: '', category: '', lat: dest.lat, lng: dest.lng, distanceM: 0, distanceLabel: '', phone: '', placeUrl: '' }],\n      destination: dest.alias || dest.name,\n      transportMode: intent.transportMode,\n      spoken: intent.spoken || '',\n      topPick: { index: 0, reason: '' },\n      clarification: '',\n    }}}];\n  }\n}\n\n// ambiguous: clarification만\nif (intent.intent === 'ambiguous' && intent.clarification) {\n  return [{ json: { _final: true, _payload: {\n    candidates: [],\n    destination: '',\n    transportMode: intent.transportMode,\n    spoken: intent.spoken || intent.clarification,\n    topPick: null,\n    clarification: intent.clarification,\n  }}}];\n}\n\n// 일반 검색\nconst params = { query: intent.query || ctx.text, x: searchLng, y: searchLat, size: '10', sort: 'accuracy' };\nif (intent.categoryGroupCode) params.category_group_code = intent.categoryGroupCode;\nconst qs = Object.entries(params).map(([k,v]) => k + '=' + encodeURIComponent(v)).join('&');\nconst kakaoUrl = 'https://dapi.kakao.com/v2/local/search/keyword.json?' + qs;\n\nreturn [{ json: {\n  _final: false,\n  query: params.query,\n  transportMode: intent.transportMode,\n  filters: intent.filters || [],\n  spokenFromIntent: intent.spoken || '',\n  kakaoUrl,\n  originalText: ctx.text,\n  lang: ctx.lang,\n}}];"
      },
      "id": "process-intent",
      "name": "의도 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "jsCode": "// === 칩 직접 검색 (LLM 스킵) ===\nconst ctx = $input.first().json;\nlet q = (ctx.text || '').replace(/근처\\s*/g, '').trim() || ctx.text;\nconst params = {\n  query: q,\n  x: ctx.userLng,\n  y: ctx.userLat,\n  size: '10',\n  radius: String(ctx.userChipRadius),\n  sort: 'distance',\n};\nif (ctx.categoryGroupCode) params.category_group_code = ctx.categoryGroupCode;\nconst qs = Object.entries(params).map(([k,v]) => k + '=' + encodeURIComponent(v)).join('&');\nconst kakaoUrl = 'https://dapi.kakao.com/v2/local/search/keyword.json?' + qs;\n\nreturn [{ json: {\n  _final: false,\n  query: q,\n  transportMode: ctx.userTransportMode,\n  filters: [],\n  spokenFromIntent: '',\n  kakaoUrl,\n  originalText: ctx.text,\n  lang: ctx.lang,\n  _skipCuration: true,\n}}];"
      },
      "id": "chip-direct",
      "name": "칩 직접 검색",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "final-check",
              "leftValue": "={{ $json._final }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-final",
      "name": "최종 응답?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.kakaoUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "KakaoAK YOUR_KAKAO_REST_API_KEY" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "kakao-search",
      "name": "카카오 키워드 검색",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "// === Kakao 결과 정규화 + 큐레이션 분기 메타 보존 ===\nconst data = $input.first().json;\n// 칩 경로면 '칩 직접 검색', 아니면 '의도 처리'의 출력에서 메타 가져옴\nconst prev = $('칩 직접 검색').first() && $('칩 직접 검색').first().json && $('칩 직접 검색').first().json._skipCuration\n  ? $('칩 직접 검색').first().json\n  : $('의도 처리').first().json;\n\nconst docs = data?.documents || [];\nconst candidates = docs.map((d, i) => {\n  const lat = parseFloat(d.y);\n  const lng = parseFloat(d.x);\n  const dm = parseInt(d.distance) || 0;\n  return {\n    index: i + 1,\n    name: d.place_name,\n    address: d.road_address_name || d.address_name || '',\n    category: d.category_group_name || (d.category_name || '').split(' > ').pop() || '',\n    lat, lng,\n    distanceM: dm,\n    distanceLabel: dm < 1000 ? dm + 'm' : (dm / 1000).toFixed(1) + 'km',\n    phone: d.phone || '',\n    placeUrl: d.place_url || '',\n  };\n});\n\nreturn [{ json: {\n  candidates,\n  destination: prev.query || '',\n  transportMode: prev.transportMode,\n  filters: prev.filters || [],\n  spokenFromIntent: prev.spokenFromIntent || '',\n  originalText: prev.originalText || '',\n  lang: prev.lang || 'ko',\n  skipCuration: !!prev._skipCuration,\n}}];"
      },
      "id": "normalize-results",
      "name": "결과 정규화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "skip-cur",
              "leftValue": "={{ $json.skipCuration }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip-curation",
      "name": "큐레이션 스킵?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "jsCode": "// ========================================================================\n// LLM 호출 모듈 — 결과 큐레이션\n// ========================================================================\n// ▼▼▼ 이 한 줄만 바꾸면 provider 전환 ('gemini' | 'claude') ▼▼▼\nconst LLM_PROVIDER = 'gemini';\n\nconst KEYS = {\n  gemini: 'YOUR_GEMINI_API_KEY',\n  claude: 'YOUR_ANTHROPIC_API_KEY',\n};\nconst MODELS = {\n  gemini: 'gemini-2.5-flash',\n  claude: 'claude-sonnet-4-6',\n};\n// ========================================================================\n\nconst prev = $input.first().json;\n\nconst toolSchema = {\n  name: 'curate_results',\n  description: '검색 결과 후보 중 사용자 의도에 가장 잘 맞는 곳을 추천합니다.',\n  parameters: {\n    type: 'object',\n    properties: {\n      rankedIndices: { type: 'array', items: { type: 'integer' }, description: '적합도 + 거리 종합 순위(원본 인덱스 0-based). 모든 후보 포함.' },\n      topPickIndex: { type: 'integer', description: '1순위 후보의 원본 인덱스(0-based).' },\n      topPickReason: { type: 'string', description: '왜 이 곳인지 한 줄 설명. 40자 내외.' },\n      spoken: { type: 'string', description: 'TTS로 읽어줄 자연스러운 한 줄. 1순위 + 개수 포함하면 좋음.' },\n    },\n    required: ['rankedIndices', 'topPickIndex', 'topPickReason', 'spoken'],\n  },\n};\n\nconst systemPrompt = '당신은 검색 결과 큐레이터입니다. 사용자의 필터/분위기/의도와 후보들의 카테고리/거리를 종합해 가장 맞는 곳을 추천하세요. 응답 언어는 ko/en에 맞춥니다.';\nconst userMessage = [\n  `# 원본 발화\\n\"${prev.originalText}\"`,\n  `# 의도 필터\\n${JSON.stringify(prev.filters)}`,\n  `# 언어: ${prev.lang}`,\n  `# 후보 (0-based)\\n${JSON.stringify(prev.candidates.map((c,i) => ({i, name:c.name, category:c.category, address:c.address, distance:c.distanceLabel})))}`,\n].join('\\n\\n');\n\nlet endpoint, headers, body;\nif (LLM_PROVIDER === 'gemini') {\n  endpoint = `https://generativelanguage.googleapis.com/v1beta/models/${MODELS.gemini}:generateContent?key=${KEYS.gemini}`;\n  headers = { 'Content-Type': 'application/json' };\n  body = {\n    system_instruction: { parts: [{ text: systemPrompt }] },\n    contents: [{ role: 'user', parts: [{ text: userMessage }] }],\n    tools: [{ function_declarations: [toolSchema] }],\n    tool_config: { function_calling_config: { mode: 'ANY', allowed_function_names: ['curate_results'] } },\n    generationConfig: { maxOutputTokens: 600, temperature: 0.5 },\n  };\n} else if (LLM_PROVIDER === 'claude') {\n  endpoint = 'https://api.anthropic.com/v1/messages';\n  headers = { 'x-api-key': KEYS.claude, 'anthropic-version': '2023-06-01', 'Content-Type': 'application/json' };\n  body = {\n    model: MODELS.claude,\n    max_tokens: 600,\n    system: systemPrompt,\n    tools: [{ name: toolSchema.name, description: toolSchema.description, input_schema: toolSchema.parameters }],\n    tool_choice: { type: 'tool', name: 'curate_results' },\n    messages: [{ role: 'user', content: userMessage }],\n  };\n}\n\nlet llmResponse;\ntry {\n  llmResponse = await this.helpers.httpRequest({ method: 'POST', url: endpoint, headers, body, json: true });\n} catch (err) {\n  // 실패 시 원본 순서 그대로\n  return [{ json: {\n    candidates: prev.candidates,\n    destination: prev.destination,\n    transportMode: prev.transportMode,\n    spoken: prev.spokenFromIntent || '',\n    topPick: { index: 0, reason: '' },\n    clarification: '',\n  }}];\n}\n\nlet cur = { rankedIndices: prev.candidates.map((_,i) => i), topPickIndex: 0, topPickReason: '', spoken: prev.spokenFromIntent || '' };\ntry {\n  if (LLM_PROVIDER === 'gemini') {\n    const part = llmResponse.candidates[0].content.parts.find(p => p.functionCall);\n    if (part && part.functionCall && part.functionCall.args) cur = Object.assign(cur, part.functionCall.args);\n  } else if (LLM_PROVIDER === 'claude') {\n    const block = (llmResponse.content || []).find(b => b.type === 'tool_use');\n    if (block && block.input) cur = Object.assign(cur, block.input);\n  }\n} catch (e) {}\n\nconst ordered = cur.rankedIndices.map(i => prev.candidates[i]).filter(Boolean).map((c, newI) => Object.assign({}, c, { index: newI + 1 }));\nconst newTopIdx = cur.rankedIndices.indexOf(cur.topPickIndex);\n\nreturn [{ json: {\n  candidates: ordered,\n  destination: prev.destination,\n  transportMode: prev.transportMode,\n  spoken: cur.spoken || prev.spokenFromIntent || '',\n  topPick: { index: newTopIdx >= 0 ? newTopIdx : 0, reason: cur.topPickReason || '' },\n  clarification: '',\n}}];"
      },
      "id": "llm-curate",
      "name": "LLM 큐레이션",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "jsCode": "// 큐레이션 없이 그대로 응답 (chip 경로)\nconst prev = $input.first().json;\nreturn [{ json: {\n  candidates: prev.candidates,\n  destination: prev.destination,\n  transportMode: prev.transportMode,\n  spoken: prev.spokenFromIntent || '',\n  topPick: null,\n  clarification: '',\n}}];"
      },
      "id": "passthrough",
      "name": "그대로 응답",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 400]
    },
    {
      "parameters": {
        "jsCode": "// 최종 응답 (의도 처리에서 _final=true)\nconst prev = $input.first().json;\nreturn [{ json: prev._payload || prev }];"
      },
      "id": "final-passthrough",
      "name": "최종 통과",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, GET, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2320, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "컨텍스트 준비", "type": "main", "index": 0 }]] },
    "컨텍스트 준비": { "main": [[{ "node": "칩? (LLM 스킵)", "type": "main", "index": 0 }]] },
    "칩? (LLM 스킵)": {
      "main": [
        [{ "node": "칩 직접 검색", "type": "main", "index": 0 }],
        [{ "node": "LLM 의도분석", "type": "main", "index": 0 }]
      ]
    },
    "LLM 의도분석": { "main": [[{ "node": "의도 처리", "type": "main", "index": 0 }]] },
    "의도 처리": { "main": [[{ "node": "최종 응답?", "type": "main", "index": 0 }]] },
    "최종 응답?": {
      "main": [
        [{ "node": "최종 통과", "type": "main", "index": 0 }],
        [{ "node": "카카오 키워드 검색", "type": "main", "index": 0 }]
      ]
    },
    "칩 직접 검색": { "main": [[{ "node": "카카오 키워드 검색", "type": "main", "index": 0 }]] },
    "카카오 키워드 검색": { "main": [[{ "node": "결과 정규화", "type": "main", "index": 0 }]] },
    "결과 정규화": { "main": [[{ "node": "큐레이션 스킵?", "type": "main", "index": 0 }]] },
    "큐레이션 스킵?": {
      "main": [
        [{ "node": "그대로 응답", "type": "main", "index": 0 }],
        [{ "node": "LLM 큐레이션", "type": "main", "index": 0 }]
      ]
    },
    "LLM 큐레이션": { "main": [[{ "node": "Webhook 응답", "type": "main", "index": 0 }]] },
    "그대로 응답": { "main": [[{ "node": "Webhook 응답", "type": "main", "index": 0 }]] },
    "최종 통과": { "main": [[{ "node": "Webhook 응답", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "지도서비스" }],
  "triggerCount": 0,
  "updatedAt": "2026-06-12T00:00:00.000Z",
  "versionId": "5"
}
